<% include head %>
<div class="container">
  <h1><a href="/drinks/1/">Martini</a> <small><a href="/drinks/1?edit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" /></a></small></h1>
  <div class="row">
    <div class="col-md-6">
      <p>Kaada ainesosat sekoituslasiin jossa on jäitä. Sekoita hyvin. Siivilöi jäähdytettyyn martinilasiin. Koristele oliivilla.</p>
    </div>
    <div class="col-md-6">
      <ul>
        <li>6cl gin</li>
        <li>1cl kuiva vermouth</li>
      </ul>
    </div>
  </div>
</div>
<% include foot %>
