<% include head %>
<div class="container">
  <h1>Drinkkiarkisto</h1>
  <p class="lead">Löydä suosikkidrinkkisi!</p>
  <div class="row">
    <div class="col-md-4">
      <h2><a href="drinks/1/">Martini</a></h2>
      <div class="row">
        <div class="col-md-6">
          <p>Kaada ainesosat sekoituslasiin jossa on jäitä. Sekoita hyvin. Siivilöi jäähdytettyyn martinilasiin. Koristele oliivilla.</p>
        </div>
        <div class="col-md-6">
          <ul>
            <li>6cl gin</li>
            <li>1cl kuiva vermouth</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2><a href="drinks/2/">Karpalobooli</a></h2>
      <div class="row">
        <div class="col-md-6">
          <p>Sekoita ainesosat boolimaljassa. Lisää jäitä ja marjoja koristeeksi.</p>
        </div>
        <div class="col-md-6">
          <ul>
            <li>0,5l vodka</li>
            <li>0,5l karpalomehu</li>
            <li>0,75l karpalolikööri</li>
            <li>1,5l Schweppes Russchian</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% include foot %>
