<% include head %>
<h1>Drinkkityypit</h1>
<div class="row">
  <div class="col-xs-5">
    <form>
      <table class="table table-striped">
        <tr><th colspan="2">Nimi</th></tr>
        <% locals.drinkTypes.forEach(function(drinkType) { %>
        <tr>
          <td><%= drinkType.name %></td>
          <td>
            <% if (!drinkType.used) { %>
            <button type="submit" class="btn btn-danger btn-block" formaction="/drinktypes/<%= drinkType.id %>/?_method=delete" formmethod="post">Poista</button>
            <% } %>
          </td>
        </tr>
        <% }); %>
        <tr>
          <td>
            <input type="text" class="form-control" id="drinkTypeName" name="drinkTypeName" />
          </td>
          <td>
            <button type="submit" class="btn btn-primary btn-block" formaction="/drinktypes" formmethod="post">Lisää uusi drinkkityyppi</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<% include foot %>
