<% include head %>
<div class="container">
  <h1>Drinkkiarkisto</h1>
  <p class="lead">Löydä suosikkidrinkkisi!</p>
  <div class="row">
    <% if (locals.drinks) { %>
      <% locals.drinks.forEach(function(drink) { %>
      <div class="col-md-4">
        <% locals.drink = drink; %>
        <% include drink %>
      </div>
      <% }); %>
    <% } %>
  </div>
  <p><a href="/drinks/?new" class="btn btn-default btn-xs">Lisää uusi drinkki</a></p>
</div>
<% include foot %>
