<% include head %>
<% function formatAmount(amount) {
     if (amount % 1000 === 0) {
       return (amount / 1000) + ' l';
     } else if (amount % 100 === 0) {
       return (amount / 100) + ' dl';
     } else if (amount % 10 === 0) {
       return (amount / 10) + ' cl';
     } else {
       return amount + ' ml';
     }
   } %>
<div class="container">
  <% include drink %>
</div>
<% include foot %>
