<% include head %>
<h1>Käyttäjät</h1>
<div class="row">
  <div class="col-xs-5">
    <form>
      <table class="table table-striped">
        <tr><th colspan="3">Nimi</th></tr>
        <% locals.users.filter(user => user.active).forEach(function(user) { %>
        <tr>
          <td><%= user.email %></td>
          <td>
          <% if (user.isAdmin && user.email !== locals.user.email) { %>
            <button name="setAdmin" value="false" type="submit" class="btn btn-default btn-block" formaction="/users/<%= user.id %>/" formmethod="post">Poista ylläpito-oikeudet</button>
          <% } else if (!user.isAdmin) { %>
            <button name="setAdmin" value="true" type="submit" class="btn btn-warning btn-block" formaction="/users/<%= user.id %>/" formmethod="post">Anna ylläpito-oikeus</button>
          <% } %>
          </td>
          <td>
          <% if (user.email !== locals.user.email) { %>
            <button type="submit" class="btn btn-danger btn-block" formaction="/users/<%= user.id %>/?_method=delete" formmethod="post">Poista</button>
          <% } %>
          </td>
        </tr>
        <% }); %>
      </table>
    </form>
  </div>
</div>
<% include foot %>
